{
  "work-domain": {
    "description": "Work AWS Organization",
    "default_role": "support",
    "accounts": {
      "dev": {
        "id": "123456789012",
        "region": "us-east-1",
        "additional_roles": ["developer", "poweruser"]
      },
      "qa": {
        "id": "234567890123",
        "region": "us-east-1",
        "additional_roles": ["developer"]
      },
      "prod": {
        "id": "345678901234",
        "region": "us-east-1",
        "additional_roles": ["readonly"]
      }
    }
  },
  "tririga-integrations": {
    "description": "TRIRIGA Integrations Project",
    "default_role": "support",
    "accounts": {
      "sbx": "456789012345",
      "dev": "567890123456",
      "qa": "678901234567",
      "prod": "789012345678"
    }
  },
  "paging-solution": {
    "description": "Paging Solution Project",
    "default_role": "support",
    "accounts": {
      "dev": "890123456789",
      "prod": "901234567890"
    }
  }
}
